* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-color: rgb(0, 81, 255);
  --text-color-back: rgba(255, 255, 255, 0.8);
  --selected-color: rgba(128, 128, 128, 0.8);
}

body {
  width: 100vw;
  /*max-width: 200px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial;
  letter-spacing: 0.01em;
}

#jjoo {
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 35%;
}

#confetti {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 330%;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 100% 100%;
  min-height: 100vh;*/
  background-size: cover;
}

#section1 {
  background-image: url('./assets/images/IMG-20240330-WA0029.jpg');
}

#section2 {
  background-image: url('./assets/images/IMG-20240407-WA0044.jpg');
}

#section3 {
  background-image: url('./assets/images/IMG-20240330-WA0032.jpg');
}

#section4 {
  background-image: url('./assets/images/IMG-20240407-WA0014.jpg');
}

#section5 {
  background-image: url('./assets/images/IMG-20240407-WA0060.jpg');
}

section h1 {
  width: 100vw;
  font-size: 36px;
  color: var(--text-color);
  text-align: center;
  font-weight: bolder;
  background-color: var(--text-color-back);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

section p {
  color: var(--text-color);
  background-color: var(--text-color-back);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 100vw;
  text-align: center;
  opacity: 0;
  animation: smooth-appear 2.5s ease forwards;
}

section a {
  position: relative;
  top: 65%;
  font-size: 24px;
  color: var(--text-color);
  font-weight: bolder;
  background-color: var(--text-color-back);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border: none;
  border-radius: 8% / 50%;
  text-align: center;
  text-overflow: clip;
  text-decoration: none;
  display: inline-block;

  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

section a:hover {
  cursor: pointer;
  background-color: var(--selected-color);
}

.main-text {
  position: relative;
  top: 17%;
  color: var(--text-color);
  font-size: 24px;
}

.additional-text {
  position: relative;
  top: 50%;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bolder;
}

section footer {
  /*justify-self: end;*/
  position: relative;
  top: 58%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes smooth-appear {
  to {
    opacity: 1;
  }
}
