/* Add your own custom css to this file. You may wish to use css !important calls to override css from the template css files.
----------------------------------------------------------- */

#s5_center_area1 {
	background: #FFE8F7 !important;
}

#s5_center_area2 {
	background: #FFE8F7 !important;
}

#s5_columns_wrap {
	background: #FFE8F7 !important;
}

#s5_columns_wrap_inner {
	background: #FFE8F7 !important;
}